body{
    background: #e5e5e5;
    background: url(/images/pinkblog\ background.jpeg);
    background-repeat: no-repeat;
    font-family: sans-serif;
}
#smiley{
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
    padding-top: 5px;
    padding-right: 20px;
    text-align: right;
    color: #0833589a;
    cursor: pointer;
}
#smiley:hover{
    color: #083358;
    font-size: 22px;
}
.navbar p{
    margin-top: -15px;
    font-size: 8px;
    text-align: right;
    padding-right: 20px;
    color: #083358;
    cursor: pointer;
}
.logo{
    height: 50px;
    margin-left: 20px;
}
#quote{
    font-size: 10px;
    color: #083358;
}
.navbar-center {
    margin-top: -100px;
    margin: auto;
    width: 100%;
    /* background: red; */
    padding: 15px;
}
.navbar-center a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    padding: 12px;
    color: #0D63A5;
    width: 33.33%;
}
.active{
    border-bottom: #FFD717 solid 2px;
}

.navbar-center a:hover {
    border-bottom: #FFD717 solid 2px;
    font-size: 20px;
}
.fa-play{
    color: #FFD717;
}
.fa-play:hover{
    font-size: 12px;
}
.more{
    cursor: pointer;
    text-decoration: underline;
}
.more:hover{
    font-size: 12px;
}

/* Styling main page */
.container {
    display: table;
}
.mainlogo{
    text-align: center;
    display: table-cell;
    height: 400px;
    width: 800px;
    color: #001F3F;
    font-size: 33px;
    font-family: 'Gochi Hand', cursive;
    background: #e8e4ff1a;
  text-align: center;
  vertical-align: middle;
}

/* Main post */
.imgbox {
    position: relative;
    font-family: Arial;
    height: 350px;
    width: 365px;
    padding-right: 5px;
    padding-left: 5px;
  }
  
  .text-block {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.09rem;
    overflow: hidden;
    height: 250px;
    width: 87%;
    position: absolute;
    bottom: 150px;
    background-color: white;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
  }
  .text-block h4{
    text-align: left;
}
.sign{
    text-align: right;
}
/* Footer Styling */
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #001F3F;
    text-align: center;
}
.footer i{
    color: #053f5ed3;
    cursor: pointer;
    font-size: 18px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.footer i:hover{
    font-size: 20px;
    color: #083358;
}
span{
    font-family: 'Gochi Hand', cursive;
    padding-left: 5px;
}